//  COLORS
$color-primary-dark: rgba(0, 0, 255, 0.9);
$color-primary-light-1: rgba(0, 0, 255, 0.6);
$color-primary-light-2: rgba(0, 0, 255, 0.3);
$color-secondary-dark: rgba(255, 0, 0, 0.9);
$color-secondary-light-1: rgba(255, 0, 0, 0.6);
$color-secondary-light-2: rgba(255, 0, 0, 0.3);

// BASIC STYLING

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Big Shoulders Stencil Text", cursive;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
  font-size: #fff;
}

// STYLING COMPONENTS

#testimonials {
  min-height: 100vh;
  padding: 6rem 0 2rem;
  background-image: linear-gradient(45deg, red, blue);
  position: relative;
}

.heading__secondary {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  font-family: cursive;
  padding: 1rem 0;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 6rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1), 0 2rem 1rem rgba(0, 0, 0, 0.1),
    0 -1rem 1rem rgba(0, 0, 0, 0.1);
  text-shadow: 0.5rem 0.6rem 0.1rem rgba(0, 0, 0, 0.1);
}

.card {
  &__container {
    width: 120rem;
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
    column-gap: 1rem;
  }

  &__back {
    height: 50rem;
    width: 30rem;
    background-image: linear-gradient(45deg, red, blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1),
      inset -1rem -1rem 1rem rgba(0, 0, 0, 0.1),
      -1.2rem -1.2rem 2rem rgba(0, 0, 0, 0.1),
      1rem 1rem 1rem rgba(205, 155, 55, 0.2);
  }

  &__front {
    height: 90%;
    width: 90%;
    background-color: $color-primary-light-1;
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1),
      inset -1rem -1rem 1rem rgba(0, 0, 0, 0.1),
      -1.2rem -1.2rem 2rem rgba(0, 0, 0, 0.1),
      inset 1rem 1rem 1rem rgba(25, 155, 55, 0.1);
  }

  &__img {
    width: 10rem;
    height: 10rem;
    margin: auto;

    img {
      border-radius: 50%;
    }
  }

  &__text {
    font-size: 1.7rem;
    text-align: center;
    margin: 3rem 0;
    color: rgba(255, 255, 255, 0.8);
  }

  &__client {
    font-size: 1.5rem;
    background-color: $color-secondary-light-1;
    padding: 1rem 2rem;
    border-radius: 1rem / 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
}

.copyright {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.338);
}
